name: Build Eaglercraft 1.21.4 WASM
on: [workflow_dispatch]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      
      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'temurin'

      - name: Build with Gradle
        run: |
          chmod +x gradlew
          ./gradlew clean buildWasm --no-daemon

      - name: Upload Result
        uses: actions/upload-artifact@v4
        with:
          name: Eaglercraft-1.21-WASM
          # Modern builds put the finished files here
          path: "**/build/wasm/dist/"
